#featured-banner { 
  background-image: url('../../public/images/featured-banner.jpg');
  background-size: cover;
  height: 100vh;

  .color-overlay {
    height: 100%;
    width: 100%;
    background: $color-primary;
    position: absolute;
    opacity: .3;
    content: '';
  }

  .container {
    padding-top: 71px;
  }

  h1, h2, h3, h4, h5, p, a {
    color: #212121;
  }

  p {
    font-size: 1.5rem;
  }
}