$body-bg: #f5f5f5;
$body-color: #212121;

$theme-colors: (
  "primary": #ffc800,
  "secondary": #748073,
);

$background-color: #F5F5F5;
$color-primary: #ffc800;

.bg-none {
  background: transparent!important;
}